.t-body-row {
  border-top: 1px solid rgba(221, 221, 221, 0.508);
  border-bottom: 1px solid rgba(221, 221, 221, 0.501);
  .grid td {
    position: relative;
  }

  .grid-field {
    display: inline-block;
  }
  a {
    background-color: transparent;
    color: #337ab7;
    text-decoration: none;
  }
  .grid-field i {
    font-size: 10px;
    margin-right: 5px;
  }
  td {
    position: relative;
    color: #526273;
    border-top-color: #edf2f7;
    vertical-align: middle;
    line-height: 1.42857143;
    padding: 6px;
  }

  i {
    font-size: 14px;
    color: #666;
    margin-right: 5px;
  }
}
tr.t-body-row:hover {
  background-color: #f5fafc;
}
